<%- include ('../header') %>
<h2 id="open-roles">
  Nova categoria:
  <a href="/admin/categorias">Categorias</a>
</h2>
<div>
  <form method="POST">
    <label>Titulo categoria:</label>
    <input type="text" name="titulo" value="<%= categoria.categoria %>">
    <button type="submit">Salvar categoria</button>
  </form>
</div>
<%- include('../footer') %>
</html>
