<%- include ('../header') %>
<div class="container">
<h2 id="open-roles">Admin:</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="/admin/categorias">Gerenciar categorias</a>
    </li>
    
    <li class="list-group-item">
      <a href="/admin/vagas">Gerenciar vagas</a>
    </li>
  </ul>
<%- include('../footer') %>
</html>
